%header#gaia-header.row.no-gutters.justify-content-between
  .logo
    GAIA
  .header-links
    = link_to 'Nuestro propósito'
    = link_to 'Tienda'
    = link_to 'Contáctanos'
    .shopping-cart
      0
