@import 'fonts';

$theme-colors: (
  'primary': #e9e99d,
  'primary-light': #f9f6d3,
  'secondary': #b1dfc1,
  'tertiary': #a76fbb,
  'cuaternary': #eea5a9,
  'quinary': #ee8a4d,
  'water': #84cbcb,
);

@import '~bootstrap/scss/bootstrap';

a {
  color: theme-color('secondary');

  &:hover {
    border-bottom: 1px solid theme-color('secondary');
    color: theme-color('secondary');
    text-decoration: none;
  }
}

p {
  color: theme-color('tertiary');
  padding: 0 15px;
}

$header-height: 70px;
$footer-height: 70px;

@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'hamburger';
@import 'header';
@import 'backgrounds';
@import 'footer';
@import 'map';
@import 'purpose';
