@font-face {
  font-family: 'Grandstander Clean';
  src: url('../fonts/Grandstander-clean.ttf');
}

@font-face {
  font-family: 'Geosans Light';
  src: url('../fonts/GeosansLight.ttf');
}

@font-face {
  font-family: 'Mithella Regular';
  src: url('../fonts/Mithella-Regular.otf');
}

@font-face {
  font-family: 'Mithella Bold';
  src: url('../fonts/Mithella-Bold.otf');
}

h1 {
  font-family: 'Grandstander Clean';
}

a {
  font-family: 'Mithella Bold';
}
