@font-face {
  font-family: 'Grandstander Clean';
  src: url('../fonts/Grandstander-clean.ttf');
}

@font-face {
  font-family: 'Geosans Light';
  src: url('../fonts/GeosansLight.ttf');
}

@font-face {
  font-family: 'Mithella Regular';
  src: url('../fonts/Mithella-Regular.otf');
}

@font-face {
  font-family: 'Mithella Bold';
  src: url('../fonts/Mithella-Bold.otf');
}

h1, .h1, h2, .h2 {
  font-family: 'Grandstander Clean';
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Mithella Bold';
}

p {
  font-family: 'Geosans Light';
}

a {
  font-family: 'Mithella Bold';
}
