#gaia-header {
  background-color: theme-color('primary-light');
  height: $header-height;

  .logo {
    height: 38px;

    &:hover {
      border: 0;
    }
  }

  .header-links a {
    margin-right: 10px;
  }

  .cart {
    img {
      height: 25px;
    }
    
    .counter {
      color: theme-color('secondary');
      position: absolute;
      left: 60%;
      top: 25%;
      transform: translate(-50%, -50%);
    }
  }
}

#hamburger-menu {
  background-color: theme-color('primary-light');
  height: calc(100vh - #{$header-height});
  width: 100%;
  z-index: 1;

  a {
    margin: 15px 0;
  }
}
